&
  canvas
    position relative
    opacity 0
    transition opacity .4s

  input, button, div
    display block
    width calc(100% - 6rem)
    margin 3rem
    padding 2rem
    background none
    border .1rem solid #444
    box-sizing border-box
    transition color .4s, border-color .4s
    font-size 1.6rem

    &:hover
      color #d00
      border-color #d00

    &:focus
      color #fff
      border-color #fff

  input
    margin-top 0
    border-top none
    border-right none
    border-left none
    text-align left

    &::-webkit-input-placeholder
      color inherit

  button
    cursor pointer

  div
    display none
    animation glow 2s infinite
    animation-direction alternate




&
  &.visible canvas
    opacity 1

  &.processing button
    display none

  &.processing div
    display block




@keyframes glow
  0%
    color #800
    border-color #800

  100%
    color #e00
    border-color #e00