&
  margin-bottom 10vh




// content from sharingbuttons.io
.resp-sharing-button {
  display: inline-block;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  transition: background-color 25ms ease-out, border-color 25ms ease-out, opacity 250ms ease-out;
  margin: 0.5em;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.resp-sharing-button a {
  text-decoration: none;
  color: #FFF;
  display: block;
}

.resp-sharing-button__icon {
  display: inline-block;
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-bottom: -0.1em;
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #FFF;
  fill: none;
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #FFF;
  stroke: none;
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #FFF;
}

.resp-sharing-button--large .resp-sharing-button__icon svg {
  padding-right: 0.4em;
}

.resp-sharing-button__wrapper {
  display: inline-block;
}

.resp-sharing-button--facebook {
  border-color: #3b5998;
}

.resp-sharing-button--facebook svg {
  fill: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  border-color: #2d4373;
}

.resp-sharing-button--facebook:hover svg,
.resp-sharing-button--facebook:active svg {
  fill: #2d4373;
}

.resp-sharing-button--twitter {
  border-color: #55acee;
}

.resp-sharing-button--twitter svg {
  fill: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  border-color: #2795e9;
}

.resp-sharing-button--twitter:hover svg,
.resp-sharing-button--twitter:active svg {
  fill: #2795e9;
}

.resp-sharing-button--reddit {
  border-color: #5f99cf;
}

.resp-sharing-button--reddit svg {
  fill: #5f99cf;
}

.resp-sharing-button--reddit:hover,
.resp-sharing-button--reddit:active {
  border-color: #3a80c1;
}

.resp-sharing-button--reddit:hover svg,
.resp-sharing-button--reddit:active svg {
  fill: #3a80c1;
}