<pre>
  This is an experiment of ffmpeg in the browser.
  You must have a recent Google Chrome version running.

  I'm not affiliated in any way with Netflix or Stranger Things' crew.

  Credits:
  • Graphics, <a href='http://www.ibtimes.co.uk/stranger-things-trailer-poster-netflix-series-channels-80s-sci-fi-new-sneak-peeks-1568429' target='_blank'>Internation Business Times</a>
  • JPEG Encoder, <a href='https://github.com/owencm/javascript-jpeg-encoder' target='_blank'>Andreas Ritter</a>
  • FFMpegJS (slightly modified) <a href='https://video-funhouse.herokuapp.com/'>Video Fun House</a>
  • Social buttons <a href='https://sharingbuttons.io/'>sharingsbuttons.io</a>
</pre>